In [22]:
import pandas as pd

# Read CSV file into DataFrame
crashes= "Motor_Vehicle_Collisions_-_Crashes (1).csv"
crashes_data= pd.read_csv(crashes)
crashes_data

C:\Users\yugan\AppData\Local\Temp\ipykernel_30664\2299458589.py:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  crashes_data= pd.read_csv(crashes)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765.0,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547.0,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903.0,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314.0,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1806592,01/26/2013,13:30,BROOKLYN,11208.0,40.687474,-73.871068,"(40.6874738, -73.8710683)",ETNA STREET,AUTUMN AVENUE,NaN,...,Un{,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1806593,"""error"" : true",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1806594,"""message"" : ""Internal error""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1806595,"""status"" : 500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1806596,},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
import pandas as pd

# Take a sample of one lakh (100,0000) rows
crashes_sample = crashes_data.sample(n=1000000, random_state=42)

# Reset the index of the sampled DataFrame
crashes_sample = crashes_sample.reset_index(drop=True)

# Display the updated DataFrame with new index
print(crashes_sample.head())

   CRASH DATE CRASH TIME   BOROUGH ZIP CODE   LATITUDE  LONGITUDE  \
0  05/08/2022       8:33       NaN      NaN   0.000000   0.000000
1  08/03/2015      15:20  BROOKLYN  11211.0  40.715305 -73.960435
2  10/30/2019      16:12  BROOKLYN  11229.0  40.610947 -73.953606
3  03/20/2019      17:00    QUEENS  11377.0  40.745730 -73.902120
4  05/14/2019      12:52    QUEENS  11385.0  40.691433 -73.890630

                    LOCATION                    ON STREET NAME  \
0                 (0.0, 0.0)                        120 AVENUE
1  (40.7153053, -73.9604353)  METROPOLITAN AVENUE
2    (40.610947, -73.953606)  AVENUE P
3      (40.74573, -73.90212)  62 STREET
4     (40.691433, -73.89063)  VERMONT PLACE

                  CROSS STREET NAME OFF STREET NAME  ...  \
0                               NaN             NaN  ...
1  BEDFORD AVENUE                               NaN  ...
2                      OCEAN AVENUE             NaN  ...
3                  ROOSEVELT AVENUE             NaN  ...
4                    CYPRESS AVENUE             NaN  ...

    CONTRIBUTING FACTOR VEHICLE 2  CONTRIBUTING FACTOR VEHICLE 3  \
0                     Unspecified                    Unspecified
1                     Unspecified                            NaN
2                     Unspecified                            NaN
3  Driver Inattention/Distraction                            NaN
4                     Unspecified                            NaN

   CONTRIBUTING FACTOR VEHICLE 4  CONTRIBUTING FACTOR VEHICLE 5  COLLISION_ID  \
0                    Unspecified                    Unspecified     4525858.0
1                            NaN                            NaN     3270419.0
2                            NaN                            NaN     4232826.0
3                            NaN                            NaN     4100340.0
4                            NaN                            NaN     4132290.0

                   VEHICLE TYPE CODE 1                  VEHICLE TYPE CODE 2  \
0  Station Wagon/Sport Utility Vehicle                                Sedan
1                    PASSENGER VEHICLE                              UNKNOWN
2                                Sedan                                Sedan
3  Station Wagon/Sport Utility Vehicle  Station Wagon/Sport Utility Vehicle
4                                Sedan  Station Wagon/Sport Utility Vehicle

                   VEHICLE TYPE CODE 3 VEHICLE TYPE CODE 4  \
0  Station Wagon/Sport Utility Vehicle               Sedan
1                                  NaN                 NaN
2                                  NaN                 NaN
3                                  NaN                 NaN
4                                  NaN                 NaN

                   VEHICLE TYPE CODE 5
0  Station Wagon/Sport Utility Vehicle
1                                  NaN
2                                  NaN
3                                  NaN
4                                  NaN

[5 rows x 29 columns]

In [50]:
# code for the creation of the databases
import psycopg2


def createDatabase(database_name):
    try:
        # Establish connection to PostgreSQL
        dbConnection = psycopg2.connect(
            user="dap",
            password="dap",
            host="127.0.0.1",
            port="5432",
            database="postgres")  # Connect to the default database to create a new database
        dbConnection.set_isolation_level(0)  # AUTOCOMMIT
        dbCursor = dbConnection.cursor()
        
        # Use the input parameter to format the CREATE DATABASE statement
        dbCursor.execute(f'CREATE DATABASE {database_name};')
        
        print(f"Database {database_name} created successfully.")
        dbCursor.close()
    except (Exception, psycopg2.Error) as dbError:
        print("Error while connecting to PostgreSQL", dbError)
    finally:
        # Check if 'dbConnection' is defined in locals() to avoid NameError
        if 'dbConnection' in locals():
            dbConnection.close()

In [51]:

def updatingTheData(table_name,df,con):
    try:
        dbConnection = psycopg2.connect(
            user="dap",
            password="dap",
            host="127.0.0.1",
            port="5432",
            database="postgres")
        engine = create_engine(con)
        df.to_sql(table_name,con=engine, if_exists='replace')
    except (Exception, psycopg2.Error) as Err:
        print("Exception occured couldn't connect ti PostgreSQL", Err)
    finally:
        if dbConnection in locals():
            dbConnection.close()

In [52]:
import pandas.io.sql as sqlio

def retrievingTheData(table_name):
    sql = f"""SELECT * from {table_name}"""
    
    # SQLAlchemy engine for PostgreSQL connection
    database_url = "postgresql+psycopg2://dap:dap@127.0.0.1:5432/crashes"
    engine = create_engine(database_url)
    
    try:
         # Using the engine directly with pandas
        persons_dataframe = pd.read_sql_query(sql, engine)
        return persons_dataframe
    except (Exception, psycopg2.Error) as dbError:
        print("Error:", dbError)
    finally:
        # SQLAlchemy engine does not need to be explicitly closed
        pass

In [53]:
# Check for null values
null_counts = crashes_sample.isnull().sum()
print("Null value counts per column:")
print(null_counts)

Null value counts per column:
CRASH DATE                            0
CRASH TIME                            2
BOROUGH                          316002
ZIP CODE                         316119
LATITUDE                         113194
LONGITUDE                        113194
LOCATION                         113194
ON STREET NAME                   211254
CROSS STREET NAME                381921
OFF STREET NAME                  832308
NUMBER OF PERSONS INJURED            12
NUMBER OF PERSONS KILLED             16
NUMBER OF PEDESTRIANS INJURED         2
NUMBER OF PEDESTRIANS KILLED          2
NUMBER OF CYCLIST INJURED             2
NUMBER OF CYCLIST KILLED              2
NUMBER OF MOTORIST INJURED            2
NUMBER OF MOTORIST KILLED             2
CONTRIBUTING FACTOR VEHICLE 1      3245
CONTRIBUTING FACTOR VEHICLE 2    151729
CONTRIBUTING FACTOR VEHICLE 3    930145
CONTRIBUTING FACTOR VEHICLE 4    984180
CONTRIBUTING FACTOR VEHICLE 5    995714
COLLISION_ID                          3
VEHICLE TYPE CODE 1                6217
VEHICLE TYPE CODE 2              184441
VEHICLE TYPE CODE 3              932504
VEHICLE TYPE CODE 4              984714
VEHICLE TYPE CODE 5              995840
dtype: int64

In [54]:
# Count duplicates in COLLISION_ID column
duplicate_collision_ids = crashes_sample['COLLISION_ID'].duplicated(keep=False)
num_duplicates = duplicate_collision_ids.sum()

print(f"Number of duplicates in COLLISION_ID column: {num_duplicates}")

Number of duplicates in COLLISION_ID column: 3

In [55]:
# Remove duplicate rows based on COLLISION_ID column
crashes_unique_collision_ids = crashes_sample.drop_duplicates(subset='COLLISION_ID', keep='first')

# Count the number of remaining duplicates (should be 0 after removal)
num_remaining_duplicates = crashes_unique_collision_ids.duplicated(subset='COLLISION_ID', keep=False).sum()

print(f"Number of duplicates removed: {num_duplicates - num_remaining_duplicates}")

Number of duplicates removed: 3

In [56]:
# Count duplicates in the cleaned DataFrame
remaining_duplicate_collision_ids = crashes_unique_collision_ids.duplicated(subset='COLLISION_ID', keep=False)
num_remaining_duplicates = remaining_duplicate_collision_ids.sum()

print(f"Number of remaining duplicates: {num_remaining_duplicates}")

Number of remaining duplicates: 0

In [58]:
# Storing the cleaned datasets in the databases

# Example usage
createDatabase('crashes')

from sqlalchemy import create_engine

connection_url = "postgresql+psycopg2://dap:dap@127.0.0.1:5432/crashes"

updatingTheData('crashes',crashes_sample,connection_url)

crashes_data = retrievingTheData('crashes')

Database crashes created successfully.